# 데이터 읽기

In [8]:
line_counter = 0 
data_header = []
customer_list = []

with open('customers.csv') as customer_data:
    while 1:
        data = customer_data.readline()
        if not data:break
        if line_counter == 0:
            data_header = data.split(',')
            
        else:
            customer_list.append(data.split(','))
        
        line_counter += 1
        
print('Header:', data_header)
for i in range(10):
    print('Data',i,':',customer_list[i])
print(len(customer_list))

Header: ['customerNumber', 'customerName', 'contactLastName', 'contactFirstName', 'phone', 'addressLine1', 'addressLine2', 'city', 'state', 'postalCode', 'country', 'salesRepEmployeeNumber', 'creditLimit\n']
Data 0 : ['103', 'Atelier graphique', 'Schmitt', 'Carine ', '40.32.2555', '"54', ' rue Royale"', 'NULL', 'Nantes', 'NULL', '44000', 'France', '1370', '21000\n']
Data 1 : ['112', 'Signal Gift Stores', 'King', 'Jean', '7025551838', '8489 Strong St.', 'NULL', 'Las Vegas', 'NV', '83030', 'USA', '1166', '71800\n']
Data 2 : ['114', '"Australian Collectors', ' Co."', 'Ferguson', 'Peter', '03 9520 4555', '636 St Kilda Road', 'Level 3', 'Melbourne', 'Victoria', '3004', 'Australia', '1611', '117300\n']
Data 3 : ['119', 'La Rochelle Gifts', 'Labrune', 'Janine ', '40.67.8555', '"67', ' rue des Cinquante Otages"', 'NULL', 'Nantes', 'NULL', '44000', 'France', '1370', '118200\n']
Data 4 : ['121', 'Baane Mini Imports', 'Bergulfsen', 'Jonas ', '07-98 9555', 'Erling Skakkes gate 78', 'NULL', 'Stavern', 'NULL', '4110', 'Norway', '1504', '81700\n']
Data 5 : ['124', 'Mini Gifts Distributors Ltd.', 'Nelson', 'Susan', '4155551450', '5677 Strong St.', 'NULL', 'San Rafael', 'CA', '97562', 'USA', '1165', '210500\n']
Data 6 : ['125', 'Havel & Zbyszek Co', 'Piestrzeniewicz', 'Zbyszek ', '(26) 642-7555', 'ul. Filtrowa 68', 'NULL', 'Warszawa', 'NULL', '01-012', 'Poland', 'NULL', '0\n']
Data 7 : ['128', '"Blauer See Auto', ' Co."', 'Keitel', 'Roland', '+49 69 66 90 2555', 'Lyonerstr. 34', 'NULL', 'Frankfurt', 'NULL', '60528', 'Germany', '1504', '59700\n']
Data 8 : ['129', 'Mini Wheels Co.', 'Murphy', 'Julie', '6505555787', '5557 North Pendale Street', 'NULL', 'San Francisco', 'CA', '94217', 'USA', '1165', '64600\n']
Data 9 : ['131', 'Land of Toys Inc.', 'Lee', 'Kwai', '2125557818', '897 Long Airport Avenue', 'NULL', 'NYC', 'NY', '10022', 'USA', '1323', '114900\n']
122

# 데이터 읽기(using `csv`)

In [10]:
import csv 
seoung_nam_data = []
header = []
rownum = 0

with open('korea_floating_population_data.csv', 'r', encoding='cp949') as p_file:
    csv_data = csv.reader(p_file)
    
    for row in csv_data:
        if rownum == 0:
            header = row 
        location = row[7]
        if location.find(u'성남시') != -1:
            seoung_nam_data.append(row)
            
        rownum += 1

with open('seoung_nam_floating_population_data.csv', 'w', encoding='utf8') as s_p_file:
    writer = csv.writer(s_p_file, delimiter='\t', quotechar="'", quoting=csv.QUOTE_ALL)
    
    writer.writerow(header)
    for row in seoung_nam_data:
        writer.writerow(row)

In [2]:
import csv

weather = []

f = open('seoul_weather.csv', 'r', encoding='cp949')
data = csv.reader(f, delimiter=',')
for row in data:
    weather.append(row)
f.close()

In [12]:
weather[:5]

[['\t\t지점번호',
  '지점명',
  '일시',
  '평균기온(℃)',
  '최고기온(℃)',
  '\t최고기온시각',
  '최저기온(℃)',
  '최저기온시각일교차'],
 ['\t\t108', '서울', '1907-10-01', '13.5', '20.7', '', '7.9', '', '12.8'],
 ['\t\t108', '서울', '1907-10-02', '16.2', '22.0', '', '7.9', '', '14.1'],
 ['\t\t108', '서울', '1907-10-03', '16.2', '21.3', '', '13.1', '', '8.2'],
 ['\t\t108', '서울', '1907-10-04', '16.5', '22.0', '', '11.2', '', '10.8']]

# 데이터 탐색

In [3]:
for i in range(len(weather)):
    # print(weather[i])
    if i == 0:
        continue
    # 108에서 \t 제거
    weather[i][0] = weather[i][0].strip('\t')
    
    # 평균기온, 최고기온, 최저기온, 일교차
    for j in [3, 4, 6, 8]:
        if weather[i][j] == '':
            continue
        weather[i][j] = float(weather[i][j])
        
    # print(weather[i][0])

In [14]:
weather[:5]

[['\t\t지점번호',
  '지점명',
  '일시',
  '평균기온(℃)',
  '최고기온(℃)',
  '\t최고기온시각',
  '최저기온(℃)',
  '최저기온시각일교차'],
 ['108', '서울', '1907-10-01', 13.5, 20.7, '', 7.9, '', 12.8],
 ['108', '서울', '1907-10-02', 16.2, 22.0, '', 7.9, '', 14.1],
 ['108', '서울', '1907-10-03', 16.2, 21.3, '', 13.1, '', 8.2],
 ['108', '서울', '1907-10-04', 16.5, 22.0, '', 11.2, '', 10.8]]

In [4]:
highest_temp = -999
lowest_temp = 999
gap_temp = -999

FirstLine = True
for row in weather:
    if FirstLine == True:
        FirstLine = False
        continue
    
    if '' in [row[4], row[6], row[8]]:
        continue

    if row[4] > highest_temp:
        highest_temp = row[4]
        highest_date = row[2]
        highest_time = row[5]
        
    if row[6] < lowest_temp:
        lowest_temp = row[6]
        lowest_date = row[2]
        lowest_time = row[7]
        
    if row[8] > gap_temp:
        gap_temp = row[8]
        gap_date = row[2]

In [6]:
print('가장 더웠던 날: {}, {} {}'.format(highest_temp, highest_date, highest_time))
print('가장 낮았던 날: {}, {} {}'.format(lowest_temp, lowest_date, lowest_time))
print('가장 일교차가 컸던 날: {}, {}'.format(gap_temp, gap_date))

가장 더웠던 날: 39.6, 2018-08-01 15:36
가장 낮았던 날: -23.1, 1927-12-31
가장 일교차가 컸던 날: 21.8, 1942-04-19