# 20220920 파이썬 기초(5)

## 클래스 이해하기

In [3]:
class Car:
    color = ''
    speed = 0
    
    def __init__(self):
        self.color = '빨강'
        self.speed = 0


car_list = []
for _ in range(5):
    car_list.append(Car())
    
print(car_list)

[<__main__.Car object at 0x000002727E3BC3A0>, <__main__.Car object at 0x000002727EDF6B00>, <__main__.Car object at 0x000002727EDF7FA0>, <__main__.Car object at 0x000002727EDF7070>, <__main__.Car object at 0x000002727EDF7F40>]

## 함수의 파라미터 이해하기

In [9]:
def print_numbers(a, b, c):
    print(a)
    print(b)
    print(c)
    
print_numbers(10, 20, 30)

print('='*20)

# '*'를 앞에 붙이면 언패킹 할 수 있다.
x = [10, 20, 30]
print_numbers(*x) 

print('='*20)

x = (10, 20, 30)
print_numbers(*x)

10
20
30
====================
10
20
30
====================
10
20
30

In [45]:
def print_numbers(*args):
    print(args,type(args))
    for arg in args:
        print(arg)

print_numbers(10)
print('='*20)
print_numbers(10, 20, 30, 'Hello')
print('='*20)
print_numbers([1 ,True, None, 'Python'])
print('='*20)
print_numbers(*[1 ,True, None, 'Python'])

(10,) <class 'tuple'>
10
====================
(10, 20, 30, 'Hello') <class 'tuple'>
10
20
30
Hello
====================
([1, True, None, 'Python'],) <class 'tuple'>
[1, True, None, 'Python']
====================
(1, True, None, 'Python') <class 'tuple'>
1
True
None
Python

In [31]:
def personal_info(name, age, address):
    print('이름:', name)
    print('나이:', age)
    print('주소:', address)

personal_info('김석진', 30, '경기도 안양시')    
print('='*30)
personal_info(name='김석진', age=30, address='경기도 안양시')
print('='*30)
personal_info(address='경기도 안양시', name='김석진', age=30)
print('='*30)

x = {'name':'박지민', 'age':27, 'address':'부산시 금정구'}
personal_info(*x)
print('='*30)
personal_info(**x)
print('='*30)
x = {'name':'박지민', 'address':'부산시 금정구', 'age':27}
personal_info(**x)

이름: 김석진
나이: 30
주소: 경기도 안양시
==============================
이름: 김석진
나이: 30
주소: 경기도 안양시
==============================
이름: 김석진
나이: 30
주소: 경기도 안양시
==============================
이름: name
나이: age
주소: address
==============================
이름: 박지민
나이: 27
주소: 부산시 금정구
==============================
이름: 박지민
나이: 27
주소: 부산시 금정구

In [34]:
def personal_info(**kwards):
    print(kwards, type(kwards))
    for kw, arg in kwards.items():
        print(kw, ':', arg, sep='')
        
personal_info(name='민윤기', age=29)
print('='*30)
personal_info(name='민윤기', age=29, address='대구시 북구')
print('='*30)

x = {'name':'정호석'}
personal_info(**x)
print('='*30)

x = {'name':'정호석', 'age':28, 'address':'광주광역시 북구'}
personal_info(**x)

{'name': '민윤기', 'age': 29} <class 'dict'>
name:민윤기
age:29
==============================
{'name': '민윤기', 'age': 29, 'address': '대구시 북구'} <class 'dict'>
name:민윤기
age:29
address:대구시 북구
==============================
{'name': '정호석'} <class 'dict'>
name:정호석
==============================
{'name': '정호석', 'age': 28, 'address': '광주광역시 북구'} <class 'dict'>
name:정호석
age:28
address:광주광역시 북구

In [40]:
def personal_info(**kwards):
    if 'name' in kwards.keys():
        print('이름:', kwards['name'])
    if 'age' in kwards.keys():
        print('나이:', kwards['age'])
    if 'address' in kwards.keys():
        print('주소:', kwards['addres'])

x = {'name':'김태형', 'age':27, 'hobby':'음악감상'}
personal_info(**x)

이름: 김태형
나이: 27

In [42]:
def personal_info(name, age, address='비공개'):
    print('이름:', name)
    print('나이:', age)
    print('주소:', address)

x = {'name':'김태형', 'age':27}
personal_info(**x)

이름: 김태형
나이: 27
주소: 비공개

### 실습 1

In [52]:
# 연습문제 
kor, eng, math, sci = 100, 86, 81, 91

def get_max_score(*args):
    max_score = max(args)
    return max_score

max_score = get_max_score(kor, eng, math, sci)
print('높은 점수:',max_score)

max_score = get_max_score(eng, sci)
print('높은 점수:',max_score)

print('='*30)

def get_max_score2(*args):
    maxnum = 0
    for num in args:
        if num > maxnum:
            maxnum = num
    return maxnum

max_score = get_max_score2(kor, eng, math, sci)
print('높은 점수:',max_score)

max_score = get_max_score2(eng, sci)
print('높은 점수:',max_score)

높은 점수: 100
높은 점수: 91
==============================
높은 점수: 100
높은 점수: 91

### 실습 2

In [59]:
kor, eng, math, sci = map(int, input().split())

def get_average(**args):
    values = args.values()
    return sum(values) / len(values)
    
arv_score = get_average(kor=kor, eng=eng, math=math, sci=sci)
print('국영수과 평균:', arv_score)

arv_score = get_average(kor=kor, eng=eng)
print('국영 평균:', arv_score)

국영수과 평균: 70.0
국영 평균: 75.0

### 실습 3

In [62]:
korean, english, mathematics, science = map(int, input().split())

def get_min_max_score(*args):
    maxscore = max(args)
    minscore = min(args)
    return [minscore, maxscore]

def get_average(**args):
    scores = args.values()
    avgscore = sum(scores)/len(scores)
    return avgscore

min_score, max_score = get_min_max_score(korean, english, mathematics, science)
average_score = get_average(korean=korean, english=english,
                            mathematics=mathematics, science=science)
print('#국영수과# 낮은 점수: {0:.2f}, 높은 점수: {1:.2f}, 평균 점수: {2:.2f}'
      .format(min_score, max_score, average_score))
 
min_score, max_score = get_min_max_score(english, mathematics)
average_score = get_average(english=english, mathematics=mathematics)
print('#영수# 낮은 점수: {0:.2f}, 높은 점수: {1:.2f}, 평균 점수: {2:.2f}'
      .format(min_score, max_score, average_score))

#국영수과# 낮은 점수: 70.00, 높은 점수: 90.00, 평균 점수: 82.50
#영수# 낮은 점수: 90.00, 높은 점수: 90.00, 평균 점수: 90.00

### 실습 4

In [91]:
# 연습문제 
def intro():
    print('='*50)
    print('1:더하기\n2:빼기\n3:곱하기\n4:나누기\n5:나누기 후 나머지\n6:나가기')
    print('='*50)

def add(a,b):
    return a + b
def sub(a,b):
    return a - b
def mul(a,b):
    return a * b
def div(a,b):
    return a / b
def rem(a,b):
    return a % b

def mycalc(a, b, op):
    if op == 1:
        return add(a, b)
    elif op == 2:
        return sub(a, b)
    elif op == 3:
        return mul(a, b)
    elif op == 4:
        return div(a, b)
    else:
        return rem(a, b)

symbol = ['+','-','*','/','%']

try:
    num1 = float(input('첫번째 숫자를 입력하세요'))
    num2 = float(input('두번째 숫자를 입력하세요'))

    while True:
        intro()
        op = int(input('원하는 연산자를 입력하세요.'))
        if op in range(1,len(symbol)+1):
            result = mycalc(num1, num2, op)
            
            print('연산 결과:',num1 ,symbol[op-1], num2,'=', result)
            reset = int(input('새로 입력하시겠습니까?(1:Yes, 2:No, 3: 종료)'))
                
            while reset not in [1, 2, 3]:
                print('잘못 입력하셨습니다. 다시 입력해주세요')
                reset = int(input('새로 입력하시겠습니까?(1:Yes, 2:No, 3: 종료)'))
                
            if reset == 1:
                num1 = float(input('첫번째 숫자를 입력하세요'))
                num2 = float(input('두번째 숫자를 입력하세요'))
            elif reset == 2:
                continue
            else:
                print('종료를 선택하셨습니다.')
                break
        elif op == 6:
            print('종료를 선택하셨습니다.')
            break
        else:
            raise Exception('잘못 입력하셨습니다! 1~6 사이의 값을 입력하셔야 합니다.')

except ZeroDivisionError as e:
    print('0으로 나눌 수 없습니다.', e)
except ValueError as e:
    print('잘못 입력하셨습니다. 숫자를 입력해주세요.', e)
except Exception as e:
    print('Error 발생: ', e)
finally:
    print('프로그램을 종료합니다. 이용해주셔서 감사합니다.')

==================================================
1:더하기
2:빼기
3:곱하기
4:나누기
5:나누기 후 나머지
6:나가기
==================================================
연산 결과: 5.0 % 5.0 = 0.0
==================================================
1:더하기
2:빼기
3:곱하기
4:나누기
5:나누기 후 나머지
6:나가기
==================================================
연산 결과: 5.0 / 5.0 = 1.0
==================================================
1:더하기
2:빼기
3:곱하기
4:나누기
5:나누기 후 나머지
6:나가기
==================================================
종료를 선택하셨습니다.
프로그램을 종료합니다. 이용해주셔서 감사합니다.

## 딕셔너리 심화

In [6]:
x = {'a': 10, 'b': 20, 'c': 30, 'd':40}
x.setdefault('e')
print(x)

x.setdefault('f', 100)
print(x)

x.update(g = 'Hello')
print(x)

x['h'] = True
print(x)

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': None}
{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': None, 'f': 100}
{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': None, 'f': 100, 'g': 'Hello'}
{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': None, 'f': 100, 'g': 'Hello', 'h': True}

In [11]:
x = {'a': 10, 'b': 20, 'c': 30, 'd':40}
x.update(a = 900, e = 20)
print(x)

y = {1:'one', 2:'two'}
y.update({1:'ONE', 3:'THREE'})
print(y)

y.update([[2, 'TWO'], [4, 'FOUR']])
print(y)

y.update(zip([1, 2], ['one','two']))
print(y)

{'a': 900, 'b': 20, 'c': 30, 'd': 40, 'e': 20}
{1: 'ONE', 2: 'two', 3: 'THREE'}
{1: 'ONE', 2: 'TWO', 3: 'THREE', 4: 'FOUR'}
{1: 'one', 2: 'two', 3: 'THREE', 4: 'FOUR'}

In [20]:
x = {'a': 10, 'b': 20, 'c': 30, 'd':40}
print(x.pop('a'), x)

print(x.pop('z', 999), x)

del x['c']
print(x)

print(x.popitem(), x)

print(x.clear())

10 {'b': 20, 'c': 30, 'd': 40}
999 {'b': 20, 'c': 30, 'd': 40}
{'b': 20, 'd': 40}
('d', 40) {'b': 20}
None

In [24]:
x = {'a': 10, 'b': 20, 'c': 30, 'd':40}
print(x.get('b'))

print(x.get('z',0))

print(x.items())
print(x.keys())
print(x.values())

20
0
dict_items([('a', 10), ('b', 20), ('c', 30), ('d', 40)])
dict_keys(['a', 'b', 'c', 'd'])
dict_values([10, 20, 30, 40])

In [26]:
keys = ['a', 'b', 'c', 'd']
x = dict.fromkeys(keys)
print(x)
x = dict.fromkeys(keys, 999)
print(x)

{'a': None, 'b': None, 'c': None, 'd': None}
{'a': 999, 'b': 999, 'c': 999, 'd': 999}

In [38]:
x = {'a': 10, 'b': 20, 'c': 30, 'd':40}
for i in x:
    print(i , end='')
    
print('')
for key, val in x.items():
    print('key:',key,'value:',val)
    
keys = ['a', 'b', 'c', 'd']
x = {key:value for key, value in dict.fromkeys(keys,999).items()}
print(x)

y = {key:0 for key, value in {'a': 10, 'b': 20, 'c': 30, 'd':40}.items()}
print(y)

z = {value:key for key, value in {'a': 10, 'b': 20, 'c': 30, 'd':40}.items()}
print(z)

abcd
key: a value: 10
key: b value: 20
key: c value: 30
key: d value: 40
{'a': 999, 'b': 999, 'c': 999, 'd': 999}
{'a': 0, 'b': 0, 'c': 0, 'd': 0}
{10: 'a', 20: 'b', 30: 'c', 40: 'd'}

In [2]:
x = {'a': 10, 'b': 20, 'c': 30, 'd':40}

for key, value in x.items():
    if value == 20:
        del x[key]
        break
        
print(x)

{'a': 10, 'c': 30, 'd': 40}

In [40]:
x = {'a': 10, 'b': 20, 'c': 30, 'd':40}
x = {key:value for key, value in x.items() if key != 20}
print(x)

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [43]:
terrestrial_planet = {
    'Mercury' : {
        'mean_radius': 2439.7,
        'mass': 3.3022E+23,
        'orbital_period': 87.969
    },
    'Venus': {
        'mean_radius': 6051.8,
        'mass': 4.8676E+24,
        'orbital_period': 224.70069
    },
    'Earth': {
        'mean_radius': 6371.0,
        'mass': 5.97219E+24,
        'orbital_period': 365.25641
    },
    'Mars': {
        'mean_radius': 3389.5,
        'mass': 6.4185E+23,
        'orbital_period': 686.9600
    }
}

print(terrestrial_planet)
print(terrestrial_planet['Venus']['mean_radius'])

{'Mercury': {'mean_radius': 2439.7, 'mass': 3.3022e+23, 'orbital_period': 87.969}, 'Venus': {'mean_radius': 6051.8, 'mass': 4.8676e+24, 'orbital_period': 224.70069}, 'Earth': {'mean_radius': 6371.0, 'mass': 5.97219e+24, 'orbital_period': 365.25641}, 'Mars': {'mean_radius': 3389.5, 'mass': 6.4185e+23, 'orbital_period': 686.96}}
6051.8

In [45]:
x = {'a': 10, 'b': 20, 'c': 30, 'd':40}
y = x

print(x is y)

y['b'] = 999
print(x)
print(y)

z = x.copy()

print(x is z)

z['c'] = 'Hello'
print(x)
print(z)

True
{'a': 10, 'b': 999, 'c': 30, 'd': 40}
{'a': 10, 'b': 999, 'c': 30, 'd': 40}
False
{'a': 10, 'b': 999, 'c': 30, 'd': 40}
{'a': 10, 'b': 999, 'c': 'Hello', 'd': 40}

In [48]:
x = {'a': {'python': 2.7}, 'b':{'python':3.6}}
y = x.copy()
print(x is y)

y['a']['python'] = '2.7.15'
print(x)
print(y)

print(x['a'] is y['a'])

import copy
z = copy.deepcopy(x)
x['a']['python'] = '2.7'
print(x)
print(z)

print(x['a'] is z['a'])

False
{'a': {'python': '2.7.15'}, 'b': {'python': 3.6}}
{'a': {'python': '2.7.15'}, 'b': {'python': 3.6}}
True
{'a': {'python': '2.7'}, 'b': {'python': 3.6}}
{'a': {'python': '2.7.15'}, 'b': {'python': 3.6}}
False

### 실습

In [80]:
# 연습문제 
ai_classes = {
    'bts' : [
        {'name': '남준', 'age': 27},
        {'name': '지민', 'age': 26},
        {'name': '호석', 'age': 27},
        {'name': '석진', 'age': 29},
        {'name': '태형', 'age': 26},
        {'name': '윤기', 'age': 28},
        {'name': '정국', 'age': 24}
    ],
    'blackpink' : [
        {'name': '채영', 'age': 24},
        {'name': '제니', 'age': 25},
        {'name': '지수', 'age': 26},
        {'name': '리사', 'age': 24}
    ]
}

for group in ai_classes.keys():
    for member in ai_classes[group]:
        name, age = member.values()
        if age <= 25:
            print(f'{name} : {age}', end=' / ')

정국 : 24 / 채영 : 24 / 제니 : 25 / 리사 : 24 /